.main-background {
    -fx-background-color: #FFF9AF;
}

.hidden-idle {
    -fx-text-fill: transparent;
    -fx-background-color: #FFF9AF;
    -fx-border-style: solid;
    -fx-border-width: 7px;
    -fx-border-color: rgb(145, 86, 86);
    -fx-border-radius: 15px;
}

.hidden-hover {
    -fx-text-fill: transparent;
    -fx-background-color: #FFFA99;
    -fx-border-style: solid;
    -fx-border-width: 9px;
    -fx-border-color: rgb(146, 58, 58);
    -fx-border-radius: 15px;
}

.selected {
    -fx-background-color: #FFFA99; /*#FFE75C;*/
    -fx-border-style: solid;
    -fx-border-width: 9px;
    -fx-border-color: rgb(146, 58, 58);
    -fx-border-radius: 15px;
}

.selected-player-one {
    -fx-background-color: #A3DCFF;
    -fx-border-style: solid;
    -fx-border-width: 8px;
    -fx-border-color: #72b7e2;
    -fx-border-radius: 15px;
}

.selected-player-two {
    -fx-background-color: #B4E8B3;
    -fx-border-style: solid;
    -fx-border-width: 8px;
    -fx-border-color: #74db73;
    -fx-border-radius: 15px;
}

.visible-idle {
    -fx-background-color: #F8EB77;
    -fx-border-style: solid;
    -fx-border-width: 5px;
    -fx-border-color: rgb(230, 215, 81);
    -fx-border-radius: 10px;
}

.visible-hover {
    -fx-background-color: #FFFA99;
    -fx-border-style: solid;
    -fx-border-width: 5px;
    -fx-border-color: #f0e969;
    -fx-border-radius: 10px;
}

.player-one {
    -fx-background-color: #A3DCFF;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: #72b7e2;
    -fx-border-radius: 5px;
}

.player-two {
    -fx-background-color: #B4E8B3;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: #74db73;
    -fx-border-radius: 5px;
}